body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans"
}
#wrapper{
    min-height: 100%;
    position: relative;
    background-image: url(images/img5.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    /*background-size: cover; */
}
#header{
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#header ul li a{
   color:white;
}
#body{
    margin-top: 0px;
    padding: 0px 10px 10px 10px;
    padding-bottom: 70px; /*height of footer, important*/
    text-align: center;
}
#footer{
    position: absolute;
    bottom:0;
    width:100%;
    height: 70px;/* height of footer*/
    background-color: #333;
    text-align: center;
    color:white;
    padding-top:20px; 
}
ul{
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    
}
li{
    float :left ;
}
li a{
    text-decoration: none;
    display:block;
    color: white;
    font-size: 20px;
    padding: 14px 18px;
    text-align: center;
}

li a:hover {
    background-color:rgb(196, 45, 45);
}

li a:active{
    background-color: silver;
}
.active{
    background-color: sienna
}
.intro{
    color:sienna;
    font-size: 26px;
    border: 80px;
    margin: 24px 3px;
    padding: 20px 5px;
    
}
.intro hr{
    max-width: 150px;
    padding-top: 0px;
    margin-top: 0px;
}
#all_rides li a{
    text-decoration: none;
    display:block;
    color: black;
    font-size: 20px;
    padding: 14px 18px;
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
* {
    box-sizing: border-box; /* makes the last column appear inline*/
}

@media screen and (max-width:780px) {
    .column {
        width: 100%;
    }
}

input[type=submit]{
    width:40%;
    background-color: #4CAF50;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#form{
    max-width: 50%;
    margin-left:auto;
    margin-right: auto; 
    margin-top: 10px;
    padding-top: 15px;
    text-align: left;
    color: saddlebrown;

}
.form_title{
    background-color: black;
    padding: 1px 0;
    color: white;
    text-align: center;
}
#body h2{
    background-color: #4CAF50;
    padding: 9px 0;
    color: white;
}
#body h5{
    display: inline;
    float:left;
    margin-left: 19px;
}
#body button{
    float:left;
    margin-left: 19px;
    margin-top: 9px;
    margin-bottom: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}
button{
    background-color: green;
}
.reject{
    background-color: brown;
}
#ride_form{
    margin-top: 18px;
    text-align: left;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 7px;
    
}
th{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;
    background-color: silver;
}
td{
    color: brown;
    background-color: #ccc;
}
#reject{
    background-color: brown
}

tr:nth-child(even){background-color: #f2f2f2}
#table{
    overflow-x:auto;
}
#profile{
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% ;
}
#profile a{
    color: rgb(126, 119, 119)
}
#joinrequests a{
    text-decoration: none;
    padding-right: 10px;
    color: white;
    float: left;
}
#nav{
    text-decoration:none; color:brown;
}
a {
    text-decoration: none;
}
#right{
    float: right;
}

